@base-color: rgb(30, 30, 30);
.container-box {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .nav-container {
    padding: 0 32px;

    overflow: hidden;
    border-bottom: 1px solid #ddd;

    position: relative;
    .nav-content{
      overflow: hidden;
    }
    .tab-arrow {
      width: 32px;
      height: 70px;
      position: absolute;
      top: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 20px;
        height: 20px;
      }
    }
    .tab-arrow-pre{
      left: 0;
    }
    .tab-arrow-next{
      right: 0;
    }
  }

  .nav-tabs {
    height: 69px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    white-space: nowrap;
    font-size: 0;
    transform: translate3d(0, 0px, 0px);
    border-bottom: none;
    width: auto;

    li {
      height: 69px;
      float: none;
      font-size: 14px;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      a{
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }

  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #2d91eb;
    cursor: default;
    background-image: url('./../images/zzbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    height: 69px;
  }

  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-image: url('./../images/zzbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #fff;
    border: none;
  }

  .container-content {
    flex: 1;
    display: flex;

    .container-left {
      width: 300px;
      border-right: 2px solid #3d3d3b;
      background: rgb(37, 37, 37);
      position: relative;

      .operate-btn {
        text-align: center;

        button {
          margin: 0 5px;
        }
      }

      .form-horizontal {
        padding: 10px 35px 10px 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 95px);
        &:hover {
          overflow: auto;
        }
      }
    }

    .container-right {
      flex: 1;
      background-color: @base-color;
      overflow: hidden;

      .tab-content {
        overflow: auto;
        height: calc(100vh - 95px);
      }
    }
  }

  .container-tip.log-active {
    height: 275px;
  }

  .container-tip {
    width: 100%;
    height: 25px;
    overflow: hidden;
    background: rgb(60, 63, 65);

    .log-content {
      background: @base-color;
      overflow: auto;
      width: 100%;
    }

    .log-top {
      height: 25px;
      line-height: 25px;
      color: #ccc;
      font-size: 14px;

      span {
        float: right;
        cursor: pointer;
        padding: 0 10px;

        &:hover {
          background: rgb(43, 46, 48);
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

}

.ui-resizable-s {
  height: 0 !important;
}

.basic-set {
  color: #ffffff;
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: 1px solid #a8a8a8;
}

.onlineStatus {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;

  .status-img {
    width: 128px;
    height: 128px;
    background: url("../images/off.png");
  }

  .status-img.active {
    background: url("../images/on.png");
  }
}

.checkbox * {
  color: #ffffff;
}
.checkbox input:checked+span{
  color:#f00;
}
.input-group-addon {
  min-width: 65px;
  padding: 9px 20px !important;
  width: auto !important;
}

.input-group-addon:empty {
  padding: 16px 20px !important;
}
.dropdown-date{
  position: absolute;
  top: 50px;
  z-index: 99;
}
.dateTime-wrap{
  width: 100%;
}
.swal-title{
  font-size: 20px !important;
}

.nav-bg {
  display: block;
  position: absolute;
  height: 78px;

}